/* @media screen and (max-device-width: 480px){ */

	body{
		-webkit-text-size-adjust:none;
		font-family: Helvetica, sans-serif;
		padding:5px;
		font-size:14px;
	}
/* } */

* {
	margin:0px;
	padding:0px;
}

#wrapper {
	width:320px;
	margin:auto;
	background-color:#eee;
	border:1px #ccc solid;
	padding:10px;
	line-height:140%;
	font-size:12px;
}

h1 {
	margin-bottom:6px;
	font-size:14px;
	color: #222;
}

li {
	list-style:none;
	padding-bottom:4px;
	
}

a,a:visited {
	color:#444;
}

th {
	text-align:left;
}

table {
	font-size:12px;	
}

td,th {
	padding: 2px 0px;
}

span.number {
	font-weight:bold;
}

h2 {
   font-size:16px;
}

.direction {
    border-bottom: 1px #ccc dotted; 
    margin-top:5px;
}

.routename {
    font-weight:bold;
}
.stopname {
   font-style: italic;
}

.times :first-child  {
    font-weight:bold;
    color:green;
}

.direction_label {
   float:left;  
   width:50px;
   font-size:24px;
   color:#888;
   margin-top:6px;
}

.info {
   float:right;
   width:240px;
}
form {
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px #ccc solid;
    text-align:center;
}